<div class="answers">
  <div class="answered">
    <h3 class="answer-a">Answer:</h3>
    <h2 class="answer-b">{{answer.content}}</h2>
  </div>
  <div class="answer-author">
    <h3 class="answer-a">By:</h3>
    <h2 class="answer-c">{{answer.author}}</h2>
  </div>
</div>
