<h6>THIS IS INDEX</h6>

{{#each model as |question|}}
  {{#link-to 'question' question}}
    {{question-tile question=question}}
  {{/link-to}}
  {{edit-question question=question update="update"}}
{{/each}}

{{new-question save2="save3"}}
